.cards_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_body {
    width: 310px;
    height: 550px;
    background-color: #d7d7d7;
    border-radius: 10px;
    margin-bottom: 25px;
}

.card_body > a {
    text-decoration: none;
    color: inherit;
}

.card_img > img {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 350px;
    object-fit: cover;
}

.card_title {
    font-size: 20px;
    padding: 10px 0 10px 8px;
    color: #011765;
    font-weight: 600;
    white-space: pre-line;
}

.card_price {
    font-size: 17px;
    padding: 10px 0 10px 8px;
    font-weight: 600;
}

.card_location, .card_date {
    font-size: 13px;
    padding: 10px 0 10px 8px;
    color: #595959;
    font-weight: 600;
}

